<!-- 

          /\
         /_.\
   _,.-'/ `",\'-.,_
-~^    /______\`~~-^~:

  ________  _______   ________  ________  ________  _________  ___  ________  ________      
 |\   ____\|\  ___ \ |\   __  \|\   __  \|\   ____\|\___   ___\\  \|\   __  \|\   ___  \    
 \ \  \___|\ \   __/|\ \  \|\ /\ \  \|\  \ \  \___|\|___ \  \_\ \  \ \  \|\  \ \  \\ \  \   
  \ \_____  \ \  \_|/_\ \   __  \ \   __  \ \_____  \   \ \  \ \ \  \ \   __  \ \  \\ \  \  
   \|____|\  \ \  \_|\ \ \  \|\  \ \  \ \  \|____|\  \   \ \  \ \ \  \ \  \ \  \ \  \\ \  \ 
     ____\_\  \ \_______\ \_______\ \__\ \__\____\_\  \   \ \__\ \ \__\ \__\ \__\ \__\\ \__\
    |\_________\|_______|\|_______|\|__|\|__|\_________\   \|__|  \|__|\|__|\|__|\|__| \|__|
    \|_________|                            \|_________|                                    
                                                                                            
                                                                                            
  ___  __    _______       ___    ___                                                       
 |\  \|\  \ |\  ___ \     |\  \  /  /|                                                      
 \ \  \/  /|\ \   __/|    \ \  \/  / /                                                      
  \ \   ___  \ \  \_|/__   \ \    / /                                                       
   \ \  \\ \  \ \  \_|\ \   \/  /  /                                                        
    \ \__\\ \__\ \_______\__/  / /                                                          
     \|__| \|__|\|_______|\___/ /                                                           
                         \|___|/
                                                                                 
          /\
         /_.\
   _,.-'/ `",\'-.,_
-~^    /______\`~~-^~:       

see you on the dark side of the moon...
www.sebastiankey.com
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} &middot; {{site.title}}{% else %}{{ site.title }}{% endif %}</title>

  <!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/assets/vendor/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/assets/vendor/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/assets/vendor/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" }}">
</head>